* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/gravel.png');
    background-attachment: fixed;
    margin: 0 auto;
    color: #777777;
}

.container {
    background-color: #ffffff;
    min-width: 100%;
    height: 90px;
    border-bottom: 1px solid #cccccc;
    float: left;
    margin-bottom: 40px;
}

.Nav-container {
    /* vertical-align: middle;
    position: relative;
    max-width: 960px;
    margin: auto; */
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 5px;
    width: 300px;
}


.NavBar {
    color: #777777;
    /* border: 5px; */
    /* border-right-color: #777777; */
    list-style-type: none;
    background-color: #ffffff;
    position: absolute;
    right: 0%;
    top: 0%;
}


li {
    float: left;
    border-right: 1px solid #777777;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;

}

li:last-child {
    border-right: none;
}

.content-container {
    clear: both;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 40px;
    padding: 0 30px 30px 30px;
}

.content-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    width: 100%;
    float: left;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 30px;
    padding: 12px 0;

}

#headshot {
    width: 180px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

#content {
    margin-bottom: 20px;
    line-height: 28px;
}

.footer {
    clear: both;
    background-color: #666666;
    min-width: 100%;
    height: 75px;
    float: left;
    position: inherit;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding-top: 27px;
    font-size: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 4px;
    padding: 7px;

}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 20px;
}

.column {
    float: left;
    width: 50%;
    position: relative;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#puppy1, #puppy2, #puppy3, #puppy4 {
    width: 275px;
    height: 210px;
    margin-bottom: 30px;

}

#puppy5 {
    width: 275px;
    height: 210px;

}

h3 {
    position: absolute;
    bottom: 25px;
    width: 275px;
    padding: 15px;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
}



